<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Join Gentoo</h1>
    <p>Your friend <%= @user.first_name %> <%= @user.last_name %> has invited you to Gentoo</p>
    <h2>Why should you join?</h2>
    <p>Imagine receiving the presents you have always wanted, you can with Gentoo. Once you create an account, you will be friends with <%= @user.first_name %>, and they will be able to keep a wishlist of presents to suit your interests </p>
    <p>
      Please follow this link to create an account: <a href="<%= @url %>">Sign Up</a>.<br>
    </p>
  </body>
</html>
