<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You are invited to Gentoo,</h1>
    <p>
      Please follow this link to create an account: <a href="<%= @url %>">Sign Up</a>.<br>
    </p>
  </body>
</html>
